<!-- _includes/_partials/_navigation.njk -->
<nav role="navigation" class="topnav">
    <ul class="nav-links">
    <!-- USING CHECKBOX HACK -->
    <input type="checkbox" id="checkbox-toggle">
    <label for="checkbox-toggle" class="hamburger">&#9776; MENU</label>
    <div class="menu">
    <li class="menu-items"><a href="/" aria-label="Go to Home page">Home</a></li>
    <li class="menu-items"><a href="/about" aria-label="Go to About Me page">About</a></li>
    <li class="menu-items"><a href="/terms" aria-label="Go to Terms and Conditions page">Terms &amp; Conditions</a></li>
    <li class="menu-items"><a href="/privacy" aria-label="Go to Privacy Policy page">Privacy Policy</a></li>
    <li class="menu-items"><a href="/reviewpolicy" aria-label="Go to Review Policy page">Review Policy</a></li>
    <li class="menu-items"><a href="/disclaimer" aria-label="Go to Disclaimer page">Disclaimer</a></li>
    </div>
    </ul>
    <ul class="socialnav">
    <li class="social-items"><a href="https://www.facebook.com/gaming/cozybooksngames" target="_blank" aria-label="Go to my Facebook page"><i class="fa-brands fa-facebook fa-lg"></i></a>
    <li class="social-items"><a href="https://instagram.com/cozygamesnbooks" target="_blank" aria-label="Go to my Instagram account"><i class="fa-brands fa-instagram fa-lg"></i></a>
    <li class="social-items"><a href="https://pinterest.com/cozybooksngames" target="_blank" aria-label="Go to my Pinterest account"><i class="fa-brands fa-pinterest fa-lg"></i></a>
    <li class="social-items"><a href="https://youtube.com/@cozybooksngames" target="_blank" aria-label="Go to my YouTube account"><i class="fa-brands fa-youtube fa-lg"></i></a>
    </ul>
</nav>