<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>The Spooky Bookshelf - {{ title }}</title>
        <link href="/assets/css/style.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/aaa188427f.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <img src="/assets/images/tsbheader.png">
        </header>
        <div class="wrapper">
           <aside class="left-bar">
            <h3 class="widget-top">Menu</h3>
            <div class="menu">
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../about.html">About</a></li>
                    <li><a href="../bookish.html">Bookish Things</a></li>
                    <!-- <li><a href="../crafts.html">Crafty Things</a></li>
                    <li><a href="../fun.html">Fun Things </a></li> -->
                    <li><a href="../policies.html">Site Policies</a></li>
                    <!-- <li><a href="../credits.html">Site Credits</a></li> -->
                </ul>
            </div>
            <h3 class="widget-top">Updates</h3>
                <textarea class="updates" cols="20" rows="5">12/23/2025 - Added more book reviews, joined more fanlistings.</textarea>
            <h3 class="widget-top">Fave Sites</h3>
            <a href="https://petrapixel.neocities.org" target="_blank"><img src="../assets/linkies/petrapixel.webp" alt="PetraPixel"></a>
            <a href="https://readingproject.au" target="_blank"><img src="../assets/linkies/ReadingProjectButton2.png" alt="The Reading Project"></a>
            <a href="https://seafare.neocities.org" target="_blank"><img src="../assets/linkies/seafare.png" alt="Seafare"></a>
           </aside>
           <main class="main">
           {{ content | safe }}
           </main>
           <aside class="right-bar">
            <h3 class="widget-top">Current Mood</h3>
            <a href="https://www.imood.com/users/thespookybookshelf"><img src="https://moods.imood.com/display/uname-thespookybookshelf/fg-ffffff/bg-000000/imood.gif" alt="The current mood of thespookybookshelf at www.imood.com"></a>
            <h3 class="widget-top">Guestbook</h3>
            <a href="http://users3.smartgb.com/g/g.php?a=s&i=g36-40123-0a" target="_blank">Sign Here Please!</a>
            <h3 class="widget-top">Hits/Visits</h3>
            <script type="text/javascript" src="https://counter.websiteout.com/js/35/0/0/0"></script>
           </aside>
        </div>
    </body>
</html>