---
layout: base.njk
title: Buried Secrets by S. F. Baumgartner
---
<h3>Buried Secrets by S. F. Baumgartner</h3>
<p>Posted on June 10, 2024</p>
{% include "_partials/_edelweiss.njk" %}
<div class="review-info">
<img src="../assets/covers/buriedsecrets.jpeg" alt="Buried Secrets Book Cover">
<strong>Title:</strong> Buried Secrets<br>
<strong>Author:</strong> S. F. Baumgartner<br>
<strong>Publisher:</strong> FB Publishing<br>
<strong>Publication Date:</strong> May 26, 2023<br>
<strong>Genre(s):</strong> Thrillers and Suspense<br>
<strong>Format:</strong> eARC<br>
<strong>Source:</strong> Edelweiss+<br>
<strong>Rating:</strong> <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>

<div class="review-description">
<p>EXPANDED AND REVISED. Originally published as "The Secret".</p>

<p>A destitute young man. Wanted dead by a criminal mastermind. Will he prove to be the downfall of the psychopath?</p>

<p>Dylan Roche is shocked. The twenty-five-year-old management trainee is astonished by the visit of an attorney. After years of blissful ignorance of his heritage, he is leery of the invitation to visit his wealthy maternal grandmother.</p>

<p>Wishing his mother was alive to advise him, Dylan sets off to investigate the family’s history, despite his feeling of foreboding. But with the sinister maniac creeping at each turn, he fears his mother’s faith in him was grossly misplaced.</p>

<p>Will Dylan find the secret hidden by his mother and survive the attack by the lunatic?</p>
</div>
</div>
<div class="the_review">
<p>I picked up <i>Buried Secrets</i> a while ago while perusing the Edelweiss+ gallery of books that could be freely downloaded, but didn't get around to reading it right away. Now I kind of wish I had.</p>

<p>For one, it is a clean thriller. No foul language, no sex, nothing that would make your grandmother cringe. The author even states it is meant to be a clean book. Which is a nice change of pace from the overly sexualized, over-filled with cuss words thrillers I often read. Not that I'm opposed to a little bit of sex or some swear words. I'm not. I just would prefer that the books have less rather than more of those things.</p>

<p><i>Buried Secrets</i> is the revised edition of <i>The Secret</i>, the prequel novella to the <i>Mirror Estate</i> series. I'd not read <i>The Secret</i>, so I went into this book blind. But that didn't stop me from enjoying it thoroughly.</p>

<p>For two, I like Dylan. He's grieving the loss of his mother, a period I remember all too well. He's also a loyal friend, something you'll understand when you read the book. But suffice it to say, he doesn't forget where he came from. Or who was there for him when his life turned upside down.</p>

<p>In all honesty, the Marino family secrets were good ones. While one of them didn't totally surprise me, another one did. As did a few other surprises that were in store for readers. And this was the prequel novella! This isn't even one of the full novels.</p>

<p>I gave this a solid four star rating and I look forward to obtaining and reading the rest of the <i>Mirror Estate</i> series. Do yourself a huge favor and <i>Buried Secrets</i> when you get the chance. I don't think you'll be disappointed!</p>
</div>
