---
layout: base.njk
title: His Name is Grace by H. G. Davis
---
<h3>His Name is Grace by H. G. Davis</h3>
<p>Posted on July 3, 2025</p>
{% include "_partials/_netgalley.njk" %}
<div class="review-info">
<img src="../assets/covers/hisnameisgrace.webp" alt="His Name is Grace Cover">
<strong>Title:</strong> His Name is Grace<br>
<strong>Author:</strong> H. G. Davis<br>
<strong>Publisher:</strong> Self-Published<br>
<strong>Publication Date:</strong> October 18, 2021<br>
<strong>Genre(s):</strong> Christian Mystery &amp; Thrillers<br>
<strong>Format:</strong> eARC<br>
<strong>Source:</strong> NetGalley<br>
<strong>Rating:</strong> <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>

<div class="review-description">
<p><strong>Allison was just a little girl when she lost her life. And her family lost so much more...</strong></p>

<p>Her father, John can't live with himself since he is the reason she is dead. And now that his son has been murdered he has given into a deep and dark rage. One that his wife suffers the brunt of.</p>

<p>With two of their three children dead, and the only living one, Erik, being accused of the death of his brother, the parents' lives are shattered. Once an everyday family, since moving out to Idaho their lives are slowly falling apart. The lies, the affair, the murder have all taken their toll.</p>

<p>However, some survive and are given another chance at life. This is a story of how grace can save us from ourselves</p>
</div>
</div>

<div class="the_review">
<p>Sometimes you just need a quick read to get yourself back into the spirit of reading, and His Name is Grace by H. G. Davis was a perfect quick read to do that for me. At just 152 pages (1,795 locations on Kindle), I was able to read this book in just about 3 hours. It was fast paced, easy to read, and difficult to put down.</p>

<p>The formatting of this story is interesting. You’d think it’d focus on the actual mystery, but for the most part, it doesn’t. It focuses more on the secrets that the family of the deceased are keeping. Which isn’t to say it is a bad story, because it absolutely isn’t. I’m just not sure I would have categorized it as a mystery/thriller when it doesn’t really focus too much on that aspect, unless you consider all the secrets to be mystery/thriller material.</p>

<p>However, the book was very good – I wanted to know if the accused really had murdered his brother and if not who had. I also wanted to know how it happened and why the accused thought he’d done it if he hadn’t. I also wanted to know how many of the people knew about the others’ secrets.</p>

<p>The characters were interesting enough, although I didn’t feel any particular connection to any of them. Perhaps it was all the secrets. I will say though, that one character in particular, Jake, seemed a bit more cunning toward the end of the book than was being let on at first, making me wonder who was the real murderer… but you’ll have to read the book to find out what I mean.</p>

<p>A quick, easy read that gets 4 stars from me.</p>
</div>
