---
layout: base.njk
title: Too Scared to Sleep by Andrew Duplessie
---
<h3>Too Scared to Sleep by Andrew Duplessie</h3>
<p>Posted on March 28, 2024</p>
{% include "_partials/_netgalley.njk" %}

<div class="review-info">
<img src="../assets/covers/tooscaredtosleep.webp" alt="Too Scared to Sleep Cover">
<strong>Title:</strong> Too Scared to Sleep<br>
<strong>Author:</strong> Andrew Duplessie<br>
<strong>Publisher:</strong> HarperCollins<br>
<strong>Publication Date:</strong> October 10, 2023<br>
<strong>Genre(s):</strong> YA Horror<br>
<strong>Format:</strong> eARC<br>
<strong>Source:</strong> NetGalley<br>
<strong>Rating:</strong> <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>

<div class="review-description">
<p>From debut author Andrew Duplessie, a terrifying collection of teen short horror stories—and accompanying videos—that will keep you up long into the night! Perfect for fans of Five Nights at Freddy's.</p>
<ul>
<li>A garbage disposal that feeds on flesh...</li>
<li>A beloved stuffed rabbit that cooks up your parents...</li>
<li>Roses that require human blood to bloom...</li>
</ul><br>
<p>From blood-chilling horror to supernatural scares, this collection of short stories from debut author Andrew Duplessie offers something to stoke anyone’s fear factor.</p>
<p>But that’s only the beginning. In a first-ever twist, each story also comes with a pulse-pounding video that deepens the horror. Point your phone at the QR code and be prepared to scream! Maybe even share it with your friends, if you dare.</p>
<p>Ready or not, Too Scared to Sleep will answer the question: How brave are you, really?</p>
</div>
</div>

<div class="the_review">
<p><strong>Content Warning:</strong> Death, blood, slight descriptions of gore, violence, video game violence.</p>

<p>Come on, it’s horror. You know I had to give it a shot. It’s meant for teens/young adults, so it isn’t super scary – or maybe I’m just so jaded when it comes to horror that nothing really scares me anymore.</p>

<p>I was pleasantly surprised at the stories. A lot of the time when I find horror anthologies by authors I haven’t heard of, they’re either not good at all or there are only one or two good stories with the rest being mediocre at best. Not true with this anthology. All of the stories were really good. Again, not as scary as I’d have liked, but this wasn’t written with adults in mind, so there is that. Younger teens and tweens would probably find this book scarier than I did.</p>

<p>My favorite stories in the book are “The Secret Sister”, “Stage Fright”, and “The Bone Fairy”. That’s not to say the others weren’t great, because they were. But those three top my list for stories in the book.</p>

<p>>f you’re someone who likes horror but doesn’t like it to be too scary, I think this book is a good one to try out. I also think it’s a good introduction to horror for younger audiences who might not yet be used to the world of horror.</p>
</div>
