---
layout: base.njk
title: Bookish Things
---
<h3>Bookish Links</h3>
                    <section class="welcome about-me bottom-of-the-page">
                        <p>Check out my book reviews &amp interviews with authors!</p>
                        <ul>
                            <li class="no-bullet"><a href="reviews.html">Book Reviews</a></li>
                            <li class="no-bullet"><a href="interviews.html">Author Interviews</a></li>                        </ul>
                    </section>