---
layout: base.njk
title: Home
---
    <h3>Welcome to The Spooky Bookshelf!</h3>
                    <section class="welcome">
                        <p>Hello and welcome to The Spooky Bookshelf! This is my little corner of the indie web where you will find a variety of things - book reviews, author interviews, crafts, and more. This page will serve as my personal homepage and my book blog, so be ready for just about anything!</p>
                        <p><em>Just a note - on December 26, 2025, I'll be having surgery on my right hand. Because of this, I will likely not update the site for a bit - I promise to update as soon as my hand can take it!</em></p>
                        <p class="blinkies-home"><img src="assets/blinkies/e49.gif">&nbsp;&nbsp;<img src="assets/blinkies/e108.gif"></p>
                    </section>
                    <br>
                    <h3>A Little About Me!</h3>
                    <section class="welcome about-me">
                        <img src="assets/images/charli.jpg" alt="Charli's photo"> <p> Hi there! I'm Charli. I'm a Christian, cybersecurity &amp; computer networking student, bookworm, metalhead, horror lover, crafter, and front-end web developer.</p>
                    <p> <--- Me in 2016. I don't like any of my more recent photos.</p>
                        <p>I'm both old enough to remember the old ways of the web, and probably too old to be making a website like this - but I don't care! I love to read, play video games, make websites/blogs, knit, crochet, cross-stitch, and do other crafts. I also collect anything I can find (and afford) that is The Nightmare Before Christmas.</p>
                        <p>I'm a fan of many things - as you can see in the fanlistings section below - and this isn't even all of it!</p>
                    </section>
                    <h3>Fun Stuff</h3>
                    <section class="welcome last-one">
                        <div class="fun-thing">
                        <h4>Fanlistings</h4>
                        <a href="https://fans.thislove.nu/css" target="_blank"><img src="assets/fanlistings/css.jpg" alt="CSS Fanlisting"></a>&nbsp;<a href="https://10-31.net/halloween" target="_blank"><img src="assets/fanlistings/halloween.png" alt="Halloween (Holiday) Fanlisting"></a>&nbsp;<a href="https://in-blue-rain.org/reading" target="_blank"><img src="assets/fanlistings/reading.png" alt="Reading Fanlisting"></a><br>
                        <a href="https://lindseyonline.us/slytherin" target="_blank"><img src="assets/fanlistings/slytherin.png" alt="Slytherin House Fanlisting"></a>&nbsp;<a href="https://fan.drinkingsouls.com/ts" target="_blank"><img src="assets/fanlistings/taylorswift.jpg" alt="Taylor Swift Fanlisting"></a>&nbsp;<a href="https://162candles.com/strangerthings" target="_blank"><img src="assets/fanlistings/strangerthings.png" alt="Stranger Things Fanlisting"></a><br>
                        <a href="https://fan.surlybutterfly.net/stardewvalley" target="_blank"><img src="assets/fanlistings/stardew.png" alt="Stardew Valley Fanlisting"></a>&nbsp;<a href="https://yaten.net/xmenfilms" target="_blank"><img src="assets/fanlistings/xmen.png" alt="X-Men Fanlisting"></a>&nbsp;<a href="https://avengers.imora.net/" target="_blank"><img src="assets/fanlistings/avengers.jpg" alt="Avengers Fanlisting"></a><br>
                        <a href="https://eku53ru.net/fl/ac" target="_blank"><img src="assets/fanlistings/animalcrossing.gif" alt="Animal Crossing Fanlisting"></a>&nbsp;<a href="https://creativeburst.org/animalcrossing" target="_blank"><img src="assets/fanlistings/newhorizons.jpg" alt="Animal Crossing New Horizons Fanlisting"></a>&nbsp;<a href="https://viii.hatsukoi.org/" target="_blank"><img src="assets/fanlistings/ffviii.gif" alt="Final Fantasy VIII Fanlisting"></a><br>
                        <a href="https://imaginary.nu/kh" target="_blank"><img src="assets/fanlistings/kingdomhearts.png" alt="Kingdom Hearts Series Fanlisting"></a>&nbsp;<a href="http://zelda.perfectdrug.net/" target="_blank"><img src="assets/fanlistings/legendofzelda.jpg" alt="The Legend of Zelda Series Fanlisting"></a>&nbsp;<a href="https://fan.enamour.nu/mkart" target="_blank"><img src="assets/fanlistings/mariokart.png" alt="MarioKart"></a><br>
                        <a href="http://smb.ravenbeauty.net" target="_blank"><img src="assets/fanlistings/supermario.png" alt="Super Mario Bros Fanlisting"></a>
                        </div>
                    </section>