---
layout: base.njk
title: Book Reviews
---
<h3>Book Reviews</h3>
Here is a list of book reviews in order from most recent to oldest:
<ul>
    <li class="no-bullet"><a href="reviews/dead-fake.html">Dead Fake by Vincent Ralph</a></li>
    <li class="no-bullet"><a href="reviews/dont-let-the-forest-in.html">Don't Let the Forest In by C. G. Drews</a></li>
    <li class="no-bullet"><a href="reviews/no-one-saw-it-coming.html">No One Saw It Coming by Susan Lewis</a></li>
    <li class="no-bullet"><a href="reviews/his-name-is-grace.html">His Name is Grace by H. G. Davis</a></li>
    <li class="no-bullet"><a href="reviews/four-found-dead.html">Four Found Dead by Natalie D. Richards</a></li>
    <li class="no-bullet"><a href="reviews/1922.html">1922 by Stephen King</a></li>
    <li class="no-bullet"><a href="reviews/blurring-the-lines-extras.html">Blurring the Lines by Amy Kaybach</a></li>
    <li class="no-bullet"><a href="reviews/a-darker-mischief.html">A Darker Mischief by Derek Milman</a></li>
    <li class="no-bullet"><a href="reviews/if-you-can-hear-this.html">If You Can Hear This by Faith Gardner</a></li>
    <li class="no-bullet"><a href="reviews/one-house-left.html">One House Left by Vincent Ralph</a></li>
    <li class="no-bullet"><a href="reviews/the-debutantes.html">The Debutants by Olivia Worley</a></li>
    <li class="no-bullet"><a href="reviews/what-the-woods-took.html">What the Woods Took by Courtney Gould</a></li>
    <li class="no-bullet"><a href="reviews/buried-secrets.html">Buried Secrets by S. F. Baumgartner</a></li>
    <li class="no-bullet"><a href="reviews/all-hope-of-becoming-human.html">All Hope of Becoming Human by Lonnie Busch</a></li>
    <li class="no-bullet"><a href="reviews/the-bachelorette-party.html">The Bachelorette Party by Carissa Ann Lynch</a></li>
    <li class="no-bullet"><a href="reviews/the-lamplighter.html">The Lamplighter by Crystal J. Bell</a></li>
    <li class="no-bullet"><a href="reviews/too-scared-to-sleep.html">Too Scared to Sleep by Andrew Duplessie</a></li>
    <li class="no-bullet"><a href="reviews/how-to-kill-men.html">How to Kill Men and Get Away With It by Katy Brent</a></li>
    <li class="no-bullet"><a href="reviews/the-close.html">The Close by Jane Casey</a></li>
    <li class="no-bullet"><a href="reviews/the-haunting.html">The Haunting by Natasha Preston</a></li>
    <li class="no-bullet"><a href="reviews/hatchet-girls.html">Hatchet Girls by Diana Rodriquez Wallach</a></li>
</ul>